[Unit]
Description = Hello world daemon

[Service]
ExecStart = /usr/bin/hello_world
ExecStop = /usr/bin/kill -p $MAINPID
Restart = always
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = hello_world

[Install]
WantedBy = multi-user.target
